<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="*"/>
        </authorization>
    </system.web>

    <location path="ChangePassword.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                
            </authorization>
        </system.web>
    </location>

    <location path="default.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>

            </authorization>
        </system.web>
    </location>



</configuration>
