<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
  </configSections>
  <appSettings>
    <add key="UploadPath" value="c:\tools"/>
    <add key="version" value="1.3"/>
    <add key="UpDateInfo" value="有新版本，请到纪委内网下载最新软件"/>
    <!-- relative or absolute path -->
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="ApplicationServices" connectionString="Data Source=156.18.1.93;Initial Catalog=WFM-CM;User ID=sa;Password=df.jw.hb@2016" providerName="System.Data.SqlClient"/>
    <!--<add name="ApplicationServices" connectionString="Data Source=dsjhbjw;Initial Catalog=WFM-CM;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ApplicationServices" connectionString="Data Source=156.18.1.93;Initial Catalog=WFM-CM;User ID=sa;Password=df.jw.hb@2016" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <!--
      通过 <authentication> 节，可配置 
      ASP.NET 用于识别进入用户的 
      安全身份验证模式。
    -->
    <authentication mode="Forms">
      <!--<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>-->
      <forms loginUrl="~/Login.aspx" timeout="1200" slidingExpiration="true"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="500" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="100" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <authorization>
      <!--<deny users="?"/>-->
      <allow users="*"/>
    </authorization>
    <!--
       通过 <customErrors> 节，可以配置
       在执行请求的过程中出现未处理的错误时要执行 
       的操作。具体而言，
       开发人员通过该节可配置要显示的 html 错误页，
       以代替错误堆栈跟踪。

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <!--<webServices>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      -->
    <!--<protocols>
        <remove name="Documentation" />
      </protocols>-->
    <!--
    </webServices>-->
    <!--<compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>-->
    <httpRuntime maxRequestLength="16384" executionTimeout="30"/>
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableSessionState = "true" />-->
    <compilation debug="true"/>
  </system.web>
  <!--<microsoft.web.services3>
    <messaging>
      <mtom serverMode="Always"/>
    </messaging>
  </microsoft.web.services3>-->
</configuration>