a
{
    color: #333;
}
#nav
{
    line-height: 100%;
    font-size: 1.2em;
    display: inline-block;
    margin: 0;
    padding: 5px 6px 0;
    background-color: #E51E01;
}
#nav li
{
    float: left;
    position: relative;
    list-style: none;
    margin: 0 5px;
    padding: 0 0 2px 0;
}
#nav a
{
    color: #FBF4F4;
    text-decoration: none;
    display: block;
    border-bottom: solid 3px #E51E01;
    border-top: solid 1px #E51E01;
    border-left: solid 1px #E51E01;
    border-right: solid 1px #E51E01;
    margin: 0;
    padding: 5px 20px;
}

#nav a:hover
{   
    color: #fff;
}
#nav .current a
{
    border-bottom: solid 3px #730601;
    border-top: solid 1px #730601;
    border-left: solid 1px #730601;
    border-right: solid 1px #730601;
    color: #711515;
    font-weight: 700;
    background-color: #ED9F9F; /* #AB1401;*/
}
#nav li:hover > a
{
    font-weight: 700;
    border-bottom: solid 3px #730601;
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    border-right: solid 1px #999999;
    background-color: #ED9F9F;/* #AB1401;*/
    color: #711515;/*#FBF4F4;*/
}

#nav ul li:hover a, #nav li:hover li a
{
    background: none;
    border: none;
    color: #711515;/*#FBF4F4;*/
}
#nav ul a:hover
{
    color: #FBF4F4 !important;
    background: #AB1401 !important;
}
#nav ul
{
    display: none;
    width: 185px;
    position: absolute;
    top: 32px;
    left: 0;
    background: #ED9F9F;/* #E51E01;*/
    border: 1px solid #730601;
    margin: 0;
    padding: 0;
    z-index:1;
}
#nav ul li
{
    float: none;
    margin: 0;
    padding: 0;
}
#nav ul a
{
    font-weight: 400;
}
#nav ul ul
{
    left: 181px;
    top: -3px;
}
#nav:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
* html #nav
{
    height: 1%;
}
#nav li:hover > ul, html[xmlns] #nav
{
    display: block;
}
